<footer class="page-footer mt-8">
    <div class="container auto-grid">
        <div class="col-main mb-8">
            <p class="h1 weight-bold">Eclipse Fitness</p>
            {% include "socials.njk" %}
            {% include "theme-switcher.njk" %}
        </div>
        {% include "address.njk" %}
        <div class="md-hidden mt-4">
            {% include "copyright.njk" %}
        </div>
    </div>
</footer>
