---
layout: base
permalink: index.html
eleventyNavigation:
    key: "Home"
style: {
    inline: "
        #page-hero {
            --height: 320px;
            padding-block-start: clamp(3rem, 6vw, 6rem);
            padding-block-end: clamp(3rem, 6vw, 6rem);
            font-size: clamp(1rem, 1.5vw, 1.25rem);
        }

        #page-hero .title {
            --h-font-size: clamp(2.5rem, 5vw, 5rem);
            --h-font-weight: 600;
        }

        #page-hero .preview {
            border-radius: 2rem;
            overflow: hidden;
        }
    "
}
---

<section id="page-hero" class="mb-12" style="--bg: var(--color-theme-fade)">
    <div class="container flex flex-col md-flex-row justify-center md-justify-between items-center">
        <div>
            <h1 class="title">{{ meta.siteName }}</h1>
            <div class="slogan">{{ meta.siteDescription }}</div>
        </div>
        <div class="preview mt-8 md-mt-0 md-ms-4 xl-ms-8">
            {% image
            "https://raw.githubusercontent.com/wromansky/eclipseFitness/main/src/assets/images/gradientLogo.png", "Beatiful picture", { lazy: false } %}
        </div>
    </div>
</section>

<div class="container my-12">
{% renderTemplate "md" %}
Welcome to Eclipse Fitness!

Are you ready to transform your health and fitness? Look no further! At Eclipse Fitness, we're dedicated to helping you achieve your fitness goals with personalized coaching and expert guidance. Whether you're looking to lose weight, build muscle, or improve your overall well-being, our team of experienced coaches is here to support you every step of the way. Let's embark on this journey together and unlock your full potential. Welcome to a healthier, happier you!

At our online personal training platform, we offer a comprehensive range of services tailored to meet your fitness goals and enhance your overall well-being. Whether you're aiming to shed some pounds, build muscle, or improve your health and wellness, we've got you covered. Here's what we provide:

# Weight Loss Program

Our weight loss program is designed to help you achieve sustainable and long-lasting results. Through personalized workout routines and nutritional guidance, we'll assist you in reaching your target weight and maintaining it effectively.

# Muscle Building Program

For those looking to gain strength, definition, and muscle mass, our muscle building program is the perfect fit. With expert guidance on resistance training, progressive overload techniques, and tailored nutrition plans, you'll see noticeable gains and transformations.

# Health and Wellness Program

Our health and wellness program focuses on improving overall health, vitality, and quality of life. Whether you're aiming to boost your energy levels, reduce stress, or enhance your mobility, our holistic approach addresses all aspects of well-being.

# Value-Added Services

## Custom Nutrition Plans

We understand that nutrition plays a crucial role in achieving fitness goals. That's why we provide personalized nutrition plans tailored to your dietary preferences, lifestyle, and goals. Say goodbye to generic diets and hello to sustainable eating habits.

## Cooking Recipe Books

Explore a wide range of delicious and nutritious recipes tailored to support your fitness journey. Our cooking recipe books are filled with easy-to-follow recipes that cater to various dietary needs and preferences, making healthy eating enjoyable and effortless.

## Mindset Training

Achieving your fitness goals goes beyond physical exercise and nutrition—it also requires a positive mindset and mental resilience. Our mindset training sessions help you develop the mindset of a champion, overcome obstacles, and stay motivated throughout your journey.

## Community Support

Join our vibrant community of like-minded individuals who are committed to improving their health and fitness. Connect with fellow clients, share experiences, celebrate victories, and receive support and encouragement every step of the way.

{% endrenderTemplate %}
</div>
